<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增成语')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-chengyu-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">成语全字：</label>
				<div class="col-sm-6">
					<input id="chengyuquanzi"  onblur="chengyuBlur()" name="chengyuquanzi" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">全拼：</label>
				<div class="col-sm-6">
					<input id="chengyuquanpin" name="chengyuquanpin" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">常用度：</label>
				<div class="col-sm-2">
					<input id="levelId" name="levelId"  value="1" class="form-control" type="text" placeholder="1 2 3 4	(一级最常用)">
				</div>
				<label class="col-sm-3 control-label">1 2 3 4	(一级最常用)</label>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">一位：</label>
				<div class="col-sm-1">
					<input id="hanziA" name="hanziA" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="aPinyin" name="aPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="aShengdiao" name="aShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">二位：</label>
				<div class="col-sm-1">
					<input id="hanziB" name="hanziB" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="bPinyin" name="bPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="bShengdiao" name="bShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">三位：</label>
				<div class="col-sm-1">
					<input id="hanziC" name="hanziC" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="cPinyin" name="cPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="cShengdiao" name="cShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">四位：</label>
				<div class="col-sm-1">
					<input id="hanziD" name="hanziD" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="dPinyin" name="dPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="dShengdiao" name="dShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">五位：</label>
				<div class="col-sm-1">
					<input id="hanziE" name="hanziE" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="ePinyin" name="ePinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="eShengdiao" name="eShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">六位：</label>
				<div class="col-sm-1">
					<input id="hanziF" name="hanziF" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="fPinyin" name="fPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="fShengdiao" name="fShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">七位：</label>
				<div class="col-sm-1">
					<input id="hanziG" name="hanziG" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="gPinyin" name="gPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="gShengdiao" name="gShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">八位：</label>
				<div class="col-sm-1">
					<input id="hanziH" name="hanziH" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="hPinyin" name="hPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="hShengdiao" name="hShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">九位：</label>
				<div class="col-sm-1">
					<input id="hanziI" name="hanziI" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="iPinyin" name="iPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="iShengdiao" name="iShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">十位：</label>
				<div class="col-sm-1">
					<input id="hanziJ" name="hanziJ" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="jPinyin" name="jPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="jShengdiao" name="jShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">十一位：</label>
				<div class="col-sm-1">
					<input id="hanziK" name="hanziK" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="kPinyin" name="kPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="kShengdiao" name="kShengdiao" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">十二位：</label>
				<div class="col-sm-1">
					<input id="hanziL" name="hanziL" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">音：</label>
				<div class="col-sm-2">
					<input id="lPinyin" name="lPinyin" class="form-control" type="text">
				</div>

				<label class="col-sm-1 control-label">调：</label>
				<div class="col-sm-1">
					<input id="lShengdiao" name="lShengdiao" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "houtai/chengyu"
		$("#form-chengyu-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-chengyu-add').serialize());
	        }
	    }
	    /*监听焦点失去事件*/
        function chengyuBlur(){
            var inp=document.getElementById('chengyuquanzi').value;
            var lis=inp.split("");//console.log(a)
            for(var i=0;i<lis.length;i++){
                if(i==0){
                    $("#hanziA").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#aPinyin").val(R.py); $("#aShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==1){
                    $("#hanziB").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#bPinyin").val(R.py); $("#bShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==2){
                    $("#hanziC").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#cPinyin").val(R.py); $("#cShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==3){
                    $("#hanziD").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#dPinyin").val(R.py); $("#dShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==4){
                    $("#hanziE").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#ePinyin").val(R.py); $("#eShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==5){
                    $("#hanziF").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#fPinyin").val(R.py); $("#fShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==6){
                    $("#hanziG").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#gPinyin").val(R.py); $("#gShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==7){
                    $("#hanziH").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#hPinyin").val(R.py); $("#hShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==8){
                    $("#hanziI").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#iPinyin").val(R.py); $("#iShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==9){
                    $("#hanziJ").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#jPinyin").val(R.py); $("#jShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==10){
                    $("#hanziK").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#kPinyin").val(R.py); $("#kShengdiao").val(R.sd);quanpin()
                        }
                    })
                }
                if(i==11){
                    $("#hanziL").val(lis[i]);
                    $.getJSON("/common/hz2py",{"hanzi":lis[i]},function (R) {
                        if(R.code==0){
                            $("#lPinyin").val(R.py); $("#lShengdiao").val(R.sd);quanpin()
                        }
                    })
                }

            }
		}
		function  quanpin() {
            var a= $("#aPinyin").val()+$("#bPinyin").val()+$("#cPinyin").val()+$("#dPinyin").val()+$("#ePinyin").val()+$("#fPinyin").val()+
                $("#gPinyin").val()+$("#hPinyin").val()+$("#iPinyin").val()+$("#jPinyin").val()+$("#kPinyin").val()+$("#lPinyin").val();
			$("#chengyuquanpin").val(a);
        }

	</script>
</body>
</html>
